{
    "env": {
        "commonjs": {
            "presets": [
                [
                    "env",
                    {
                        "useBuiltIns": false,
                        "modules": "commonjs",
                        "targets": {
                            "node": "6.0"
                        }
                    }
                ]
            ],
            "plugins": [
                "add-module-exports"
            ]
        },
        "es": {
            "presets": [
                [
                    "env",
                    {
                        "useBuiltIns": false,
                        "modules": false
                    }
                ]
            ]
        }
    }
}